<div class="footer">

    <div class="form">
        
        <div class="logo">
            <img src="../../../assets/newsletter.png" alt="">
        </div>
        
        <div class="formulary">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <button class="enviar">Enviar</button>
        </div>

    </div>
    
    <div class="contact">
        
        <strong>Sigam-nos em nossas redes sociais</strong>
    
        <span>
                    
            <img class="social" 
                (click)="facebookTarget()"  
                src="../../../assets/facebook.png" alt="">
            
            <img class="social" 
            (click)="githubTarget()"    
            src="../../../assets/github.png" alt="">

            <img class="social" 
            (click)="linkedinTarget()"  
            src="../../../assets/linkedin.png" alt="">

        </span>
    </div>
    
    <div class="copyright">
        <strong>
            &copy;tendencia  2023 - Todos os direitos reservados | Salvador, Bahia
        </strong>
    </div>

</div>
