<div class="header">

    <div class="logo-session">
        <img src="../../../assets/logo.png" alt="">
    </div>

    <div class="search-session">
        <span>
            <input type="text" [(ngModel)]="peca" placeholder="busque por camisa, vestido, boné...">
            <button (click)="getItensBySearchPiece()"><img src="../../../assets/search.png" alt=""></button>
        </span>
    </div>

    <div class="contact-or-login-session">
        <div class="zap">
            <img src="../../../assets/whatsapp.png" alt="" (click)="targetWhatsapp()"> 
            <p (click)="targetWhatsapp()">(71) 99618-7965</p>
        </div>
        <div class="entrar">
            <img src="../../../assets/user.png" alt=""> 
            <button routerLink="/login">Entrar</button>
        </div>
    </div>

</div>
