@import '../../../styles/indes.scss';

.store{
    
    @include dimension($full_width, calc($full_height * 2));
    @include display( $grid,
    $none, 
    $none, 
    $none,
    1fr,
    10% 80% 20%,
    'header header'
    'main main'
    'footer footer');

    background: $dark_light;

    app-header{
        grid-area:header;
    }

    main{
        @include test(solid 1px $--cor06);
        grid-area:main;

        @include display( $grid,
        $none, 
        $none, 
        $none,
        20% 80%,
        25%,
        'banner banner'
        'checbox_search moda_feminina'
        'checbox_search moda_masculina'
        'checbox_search moda_infantil' );        

        .banner, .moda_feminina, 
        .moda_masculina, .moda_infantil, 
        .checbox_search{
            @include test(solid 1px $--cor05);
        }
        .banner{
            grid-area: banner;
            background: linear-gradient(63deg, rgba($color:  $--cor05, $alpha: 0.4) 45%, rgba($color:  $--cor05, $alpha: 0.8) 55%);

            display: $flex;

            justify-content: space-evenly;
            align-items: $center;

            img{
                margin: 0 10px;
                border: 5px solid $--cor01;
                border-radius: 3px;
                @include dimension(calc($hundred_percent * 0.6), calc($hundred_percent * 0.97));
            }

           .button-side{
                display: $none;
            }

            &:hover{

                .button-side{
                    display: flex;
                    font-size: calc($hundred_pixel * 0.4);
                    font-weight: bold;
                    color: rgba($color: #000000, $alpha: 0.4);
                    cursor: $pointer;

                    transition: all;
                    transition-duration: 0.5s;

                    &:hover{
                        color: rgba($color: #000000, $alpha: 0.6);
                    }
                }
           }
        }
        .moda_feminina{
            grid-area:moda_feminina;
        }
        .moda_masculina{
            grid-area:moda_masculina;
        }
        .moda_infantil{
            grid-area:moda_infantil;
        }
        .checbox_search{
            grid-area:checbox_search;
        }

    }

    app-footer{
        grid-area:footer;
    }
}